body {
    font-family: 'Roboto', sans-serif;
    background: #282828;
    margin: 0;
    padding-top: 8px;
}
#wclock {
    position: relative;
    width: 99%;
    padding-top: 20%;
    padding-bottom: 20%;
    margin: 8px;
    color: #fff;
    background: #3A3A3A;
    font-weight: 400;
    font-size: 40px;
    text-align:  center;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 0;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#wclock:hover {
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 10px 20px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 10px 20px 0;
}
#footer{
	margin-left:5%;
}
a:link {
    color: #fafafa;
	text-decoration:none;
}
a:visited {
    color: #fafafa;
	text-decoration:none;
}
a:hover {
    color: #d7d7d7;
	text-decoration:none;
}