html, body {
    background: #3A3A3A;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: table;
}

#textClock {
    font-weight: 700;
    font-size: 40pt;

    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.29);

    text-align: center;
    display: table-cell;
    vertical-align: middle;

    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
