html, body {
    background-color: #3A3A3A;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

body {
    display: table;
}

#textClock {
    font-weight: 700;
    font-size: 40pt;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}